body {
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #ffffff 2px, rgba(0, 0, 0, 0) 1px);
    background-color: rgb(0, 0, 0);
    max-width: 100%;
    position: relative;
    margin: 0;
    padding: 4rem;
    gap: 2rem;
    align-items: start;
}

.text{
    font-family: monospace;
    color: beige;
    line-height: 1.5;
    font-size: small;
}

.huge {
    font-family: monospace;
    font-stretch: ultra-expanded;
    font-size: 500%;
    font-weight: bold;
    color: beige;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(122, 188, 255, 0.5);
    mix-blend-mode: difference;
    padding: 10px;
}

.header {
    padding: 30px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: monospace;
    color: beige;
}

.row {
    display: flex;
    gap: 10px;
}

.column {
    flex: 1;
    padding: 10px;
    height: auto;
    padding-bottom: 10px;
    background-image: linear-gradient(to bottom right, rgba(52, 30, 96, 0.814), rgba(167, 132, 179, 0.471));
    background-color: rgb(255, 0, 51);
    transition: all 5s ease;
    animation: gradient 20s ease infinite;
    font-family: monospace;
    text-transform: uppercase;
    color: beige;
}

@keyframes gradient {
    0% {
        background-color: rgb(205, 15, 53);
    }

    10% {
        background-color: rgb(208, 79, 5);
    }

    20% {
        background-color: rgb(225, 157, 0);
    }

    30% {
        background-color: rgb(228, 215, 34);
    }

    40% {
        background-color: rgb(67, 171, 71);
    }

    50% {
        background-color: rgb(52, 111, 56);
    }

    60% {
        background-color: rgb(94, 209, 202);
    }

    70% {
        background-color: rgb(83, 130, 232);
    }

    80% {
        background-color: rgb(84, 36, 121);
    }

    90% {
        background-color: rgb(154, 48, 117);
    }

    100% {
        background-color: rgb(205, 15, 53);
    }

}


.column img {
    max-width: 100%;
    height: auto;
    filter: blur(5px);
}

.column img:hover {
    max-width: 500px;
    height: auto;
    filter: blur(0px);
    cursor: none;
    transition: 100ms;
}

@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.space {
    padding: 10px;
}
.button {
    background-color: #3d2d6b;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    gap: 10px;
    font-family: monospace; 
  }
  
  .button:hover {
    font-size: 18px;
    mix-blend-mode: darken;
    background-color: #078800;
    transition: 150ms;
    color: white;
    cursor: not-allowed;
  }