body{
    background-color: blanchedalmond;
    gap: 10px;
    max-width: 100%;
    display: block;
    flex-wrap: wrap;
    justify-content: left;
    font-family: "Madimi One", sans-serif;

    @media screen and (min-width: 60rem) {
      margin: 2rem;
      display: grid;
      grid-template-columns: 400px 1fr;
    }
  }

@font-face {
  font-family: "Absans";
  src: url(fonts/Absans-Regular.woff2) format("woff2");
  font-weight: normal;
}

h1, h2, h3, h4, h5 {
  font-family: 'Absans', Verdana, Geneva, Tahoma, sans-serif;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:link{
  color: rgb(255, 149, 149)
}
a:visited{
  color:rgb(197, 96, 116)
}
.baby-boy {
    color: rgb(218, 74, 74);
    width: 50%;
  }
  img {
    width: 100%;
  }
  p {
    font-size: 16px;
    border: 10px;
  }
.navigation{
  position:sticky;
  top: 0%;
  left: 0%;
  color: dodgerblue;
  display: none;
  @media screen and (min-width: 40rem) {
    display: block;
    margin-top: 1rem;
  }
}

.button {
  background-color: #3d2d6b;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  gap: 10px;
  font-family: monospace; 
}

.button:hover {
  font-size: 18px;
  mix-blend-mode: darken;
  background-color: #078800;
  transition: 150ms;
  color: white;
  cursor: not-allowed;
}


@media screen and (min-width:60rem) {
 body {
  margin: 2rem;
  display: grid;
  grid-template-columns: 400px 1fr;
 }
}